body{
    text-align: center;
  }
  
  table{
    border-collapse: collapse;
    margin: auto;
    height:70vh;
    width: 170vh; 
  }
  td{
    border: 2px solid black;
    height:5vh;
    width:5vh;
  }
  
  .navbar-brand{
    font-size:1.5rem;
    margin-left:16vh;
  }

  .navbar-toggler{
    margin-right: 5px;
  }
  
  .navbar {
    box-sizing: border-box;
    height:55px;
  }
  
  .nav-item{
    box-sizing: border-box;
    padding-top: 3px;
    margin:0 10px;
    font-size:1rem;
  }
  
  .nav-item:hover{
    color:whitesmoke;
  }
  .right{
    position: absolute;
    right:40px;
  }

  #mbal{
      display: inline-block;
      position: absolute;
      left:126px;
  }

  #sub{
      text-align: left;
  }

  .bet{
      position: absolute;
      right: 126px;
  }


  .formh1{
    text-align: center;
    padding-top:60px;
    padding-bottom: 20px;
  }

  form{
    text-align: left;
  }

  .form-label{
    font-weight: 600;
  }

  .loginBtn{
    height:50px;
    width: 250px;
    margin: 20px 30px;
  }

  .aboutHeading{
    margin-top: 15px;
  }
  
  #about{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    padding:50px 50px 0;
    line-height: 2;
    text-align: left;
  }

  .start{
    background-color: red;
  }

  .mid{
    background-color: aqua;
  }

  .end{
    background-color: seagreen;
  }
  
  #mbal{
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 7%;
  }

  #bal{
    color:lime;
  }

  @media screen and (max-width: 700px) {
    .navbar-brand{
      margin-left:3vh;
    }

    table{
      border-collapse: collapse;
      margin: auto;
      height:40vh;
      width: 60vh; 
    }

    #mbal{    
      position: absolute;
      left:8%;
    }
  }
