body{
    text-align: center;
  }
  
  table{
    border-collapse: collapse;
    margin: auto;
    height:70vh;
    width: 170vh;
    
  }
  td{
    border: 2px solid black;
    height:5vh;
    width:5vh;
  }
  
  .navbar-brand{
    font-size:1.5rem;
  }
  
  .navbar {
    box-sizing: border-box;
    height:55px;
  }
  
  .nav-item{
    box-sizing: border-box;
    padding-top: 3px;
    margin:0 10px;
    font-size:1rem;
  }
  
  .nav-item:hover{
    color:whitesmoke;
  }
  .right{
    position: absolute;
    right:40px;
  }

  #mbal{
      display: inline-block;
      position: absolute;
      left:126px;
  }

  #sub{
      text-align: left;
  }

  .bet{
      position: absolute;
      right: 126px;
  }
