body{
  text-align: center;
}

table{
  border-collapse: collapse;
  margin: auto;
}
td{
  height:5vh;
  width:5vh;
}

.navbar-brand{
  font-size:1.5rem;
}

.navbar {
  box-sizing: border-box;
  height:55px;
}

.nav-item{
  box-sizing: border-box;
  padding-top: 10px;
  margin:0 10px;
  font-size:1rem;
}

.right{
  position: absolute;
  right:40px;
}
